{% extends 'wiki/base.html' %}
{% from 'user.html' import user_link %}

{% block content %}
    <div class="row"><div class="col-md-12">
        <h2 class="page-header">{% block title %}{{ page.title }}{% endblock %}</h2>

        {% if page.draft %}<div class="alert alert-warning">This page is in draft mode.  Only editors can see it listed.  Any user with 100 rep with the link may edit it.</div>{% endif %}
        {% if page.community %}<div class="alert alert-info">This page is in community mode.  Any user with 100 rep may edit it.</div>{% endif %}

        <ul class="list-inline pull-right">
            <li><small><i>Last edited on {{ page.updated|datetimeformat }} by {{ user_link(page.author) }}</i></small></li>
            {% if has_group('editor') or page.draft or page.community %}<li><a href="{{ page.update_url }}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit</a></li>{% endif %}
            {% if has_group('editor') %}<li><a href="{{ page.delete_url }}" class="btn btn-danger btn-sm"><i class="fa fa-minus"></i> Remove</a></li>{% endif %}
        </ul>

        <div class="clearfix"></div>

        {% if redirect_from %}
            <p>Redirected from <a href="{{ url_for('wiki.detail', title=redirect_from, no_redirect=1) }}">{{ redirect_from }}</a></p>
        {% endif %}

        {% if page.redirect %}
            <p>Redirects to <a href="{{ page.redirect.detail_url }}">{{ page.redirect.title }}</a></p>
        {% endif %}

        {% if page.body %}{{ page.body|markdown }}{% endif %}
    </div></div>
{% endblock %}
