{% extends 'wiki/base.html' %}

{% set script_ace = True %}

{% block content %}
    <div class="row"><div class="col-md-12">
        <h2 class="page-header">{% block title %}{% if item is none %}Add Wiki Page{% else %}Edit {{ page.title }}{% endif %}{% endblock %}</h2>

        <form method="post" class="form-horizontal">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label(class='control-label col-sm-2') }}
                <div class="col-sm-10">{{ form.title(class='form-control') }}</div>
            </div>
            <div class="form-group">
                {{ form.body.label(class='control-label col-sm-2') }}
                <div class="col-sm-10">{{ form.body(class='form-control', rows=20, **{'data-editor': 'markdown'}) }}</div>
            </div>
            <div class="form-group"><div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                <a href="{{ page.detail_url }}"><button type="button" class="btn btn-primary">Cancel</button></a>
            </div></div>
        </form>
    </div></div>
{% endblock %}
