{% extends 'salad/base.html' %}

{% block content %}
    <div class="row"><div class="col-md-12">
        <h2 class="page-header">{% block title %}Salad Language{% endblock %}</h2>

        <p>Salad is a miniature language used in place of English in the Python room. It consists of words which happen to be English names for vegetables, fruit, fungi or seeds.</p>

        <h3>Lexicon</h3>

        <ul class="list-inline pull-right">
            <li><a href="{{ url_for('salad.create') }}" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Add Salad Term</a></li>
        </ul>

        <div class="clearfix"></div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Term</th>
                    <th>Definition</th>
                    <th class="col-md-3"></th>
                </tr>
            </thead>
            <tbody>{% for item in items %}
                <tr>
                    <td{% if item.term == highlight %} class="info"{% endif %}>{% if item == wod %}<i class="fa fa-star" title="Word of the Day"></i> {% endif %}{{ item.term }}</td>
                    <td>{{ item.definition }}</td>
                    <td>
                        <a href="{{ item.highlight_url }}" class="btn btn-default btn-xs"><i class="fa fa-link"></i></a>
                        <a href="{{ item.move_up_url }}" class="btn btn-default btn-xs"><i class="fa fa-arrow-up"></i></a>
                        <a href="{{ item.move_down_url }}" class="btn btn-default btn-xs"><i class="fa fa-arrow-down"></i></a>
                        <a href="{{ item.update_url }}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Edit</a>
                        <a href="{{ item.delete_url }}" class="btn btn-danger btn-xs"><i class="fa fa-minus"></i> Remove</a>
                    </td>
                </tr>
            {% endfor %}</tbody>
        </table>

        <h3>History</h3>

        <p>The Salad language was <a href="http://chat.stackoverflow.com/rooms/6/conversation/salad">created and introduced</a> to the room on April 10, 2013 by Jon Clements and Inbar Rose.  The usage of the greeting quickly spread among regulars, and participants added additional words to the lexicon over time.</p>

        <table class="table table-striped">
            <tbody>
                <tr><td>Jon Clements</td><td><p>Greetings and salutations</p><p>or, as I prefer to express it - Cabbage</p></td></tr>
                <tr><td>Inbar Rose</td><td><p>:/</p><p>Cabbage to you too then.</p></td></tr>
                <tr><td>Jon Clements</td><td><p>Yup - I believe the correct reply should probably be Asparagus... (but haven't quite worked out the semantics of my new language fully...)</p></td></tr>
                <tr><td>Inbar Rose</td><td><p>Vegetebarian?</p></td></tr>
                <tr><td>Jon Clements</td><td><p>Ummm... not a bad name - might consider that ;0</p></td></tr>
                <tr><td>Inbar Rose</td><td><p>or LinguaVega ?</p><p>Or, going with the theme. Lets call the language: "Salad"</p><p>And let me just say, "Turnip orange banana, tomato celery onion."</p></td></tr>
                <tr><td>Jon Clements</td><td><p>Hey - no need to insult my mum ;)</p></td></tr>
                <tr><td>Inbar Rose</td><td><p>I didn't say anything about her.</p><p>You must think I said "Turnip orange banana, eggpland celery pear."</p></td></tr>
                <tr><td>Jon Clements</td><td><p>paw-paw goatsbeard :(</p></td></tr>
                <tr><td>pcalcao</td><td><p>Good day people</p></td></tr>
                <tr><td>Inbar Rose</td><td><p>Cabbage</p></td></tr>
            </tbody>
        </table>

        <h3>Metasyntactic Use</h3>

        <p>Much like the Smurfs, chat members will occasionally use <em>“cabbage”</em> as a placeholder word in circumstances where it would normally make no sense.  For example, the motto of the room is “The <em>productive</em> programming cabbage”.  Here, “cabbage” means “language”.</p>
    </div></div>
{% endblock %}
