{% extends 'canon/base.html' %}

{% block title %}Remove {{ item.title }}{% endblock %}

{% block content %}
    <div class="row"><div class="col-md-12">
        <h2 class="page-header">Remove {{ item.title|markdown }}</h2>

        <p>This operation is permanent.  Are you sure?</p>

        <form method="post">
            {{ form.hidden_tag() }}
            <button type="submit" class="btn btn-danger"><i class="fa fa-minus"></i> Remove</button>
            <a href="{{ item.detail_url }}" class="btn btn-default">Cancel</a>
        </form>
    </div></div>
{% endblock %}
