{% extends 'canon/base.html' %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
    <div class="row"><div class="col-md-12">
        <h2 class="page-header">{{ item.title|markdown }}</h2>

        {% if item.draft %}<div class="alert alert-warning">This page is in draft mode. Only editors or anyone with the link may view it.</div>{% endif %}
        {% if item.community %}<div class="alert alert-info">This page is in community mode.  Any logged in users may edit it.</div>{% endif %}

        <ul class="list-inline pull-right">
            {% if has_group('editor') or item.draft or item.community %}<li><a href="{{ item.update_url }}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit</a></li>{% endif %}
            {% if has_group('editor') %}<li><a href="{{ item.delete_url }}" class="btn btn-danger btn-sm"><i class="fa fa-minus"></i> Remove</a></li>{% endif %}
        </ul>

        <div class="clearfix"></div>

        <ul class="list-inline">{% for tag in item.tags %}
            <li><span class="label label-default">{{ tag }}</span></li>
        {% endfor %}</ul>

        {% if item.body %}
            {{ item.body|markdown }}
        {% elif item.excerpt %}
            {{ item.excerpt|markdown }}
        {% endif %}

        <ul>{% for question in item.questions %}
            <li><a href="{{ question.link }}">{{ question.title|safe }}</a></li>
        {% endfor %}</ul>
    </div></div>
{% endblock %}
