{% extends 'canon/base.html' %}

{% block content %}
    <div class="row"><div class="col-md-12">
        <h2 class="page-header">{% block title %}{{ item.title }}{% endblock %}</h2>

        <ul class="list-inline pull-right">
            <li><a href="{{ item.update_url }}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit</a></li>
            <li><a href="{{ item.delete_url }}" class="btn btn-danger btn-sm"><i class="fa fa-minus"></i> Remove</a></li>
        </ul>

        <div class="clearfix"></div>

        <ul class="list-inline">{% for tag in item.tags %}
            <li><span class="label label-default">{{ tag }}</span></li>
        {% endfor %}</ul>

        {% if item.body %}
            {{ item.body|markdown }}
        {% elif item.excerpt %}
            {{ item.excerpt|markdown }}
        {% endif %}

        <ul>{% for question in item.questions %}
            <li><a href="{{ question.link }}">{{ question.title }}</a></li>
        {% endfor %}</ul>
    </div></div>
{% endblock %}
