{% extends "base.html" %}
{% block title %}Chatroom etiquette — sopython{% endblock %}

{% block content %}
  <h1>Etiquette</h1>
  <p>If you're wondering why you may just have been greeted with 'cbg' or 'cabbage' please see <a href="/salad">Salad Language.</a></p>
  <section id="general">
    <h2>Rules</h2>
    <ol>
      <li><a href="http://chat.stackoverflow.com/faq#nice">Be nice.</a></li>
      <li>Don't use @username notification to ping people in the room to draw attention to your posts/questions - anyone able/willing to reply will notice it in their own time. It is acceptable to @username people where it assists in the flow of existing conversations.</li> 
      <li>Cute fluffy animals (especially puppies and rabbits) are cool, okay?</li>
    </ol>
  </section>
  <section id="posting-lnk">
    <h2>Posting Question/Answer Links</h2>
    <ol>
    <li><p>Do not link your recently posted questions in the room. The main site is the dedicated space for posting questions, and having them answered.</p></li><li><p> 
If you have posted a question on the main site and a significant amount of time has passed without receiving a satisfying answer, then you can discuss your question in the room. </p></li>
<li><p>You should never simply link your question into the chat room without staying to discuss it and should usually only link it when having been asked by others. </p></li>
<li><p>Note - linking questions which are not your own recently posted questions is alright as long as it serves a purpose, and you are willing to discuss answering it, or are suggesting it be closed.</p></li>
</ol>
  </section>


  <section id="ask">
    <h2>Asking a question</h2>
    <ol>
      <li>You do not need to ask if it’s okay to ask a question.</li>
      <li>You may ask your question without a preamble.<br />
        For example, you do not need to say “anyone here know Django?” before asking a question about Django. Even if you do, the Django experts in the room might not step forward until hearing the actual question. They may not wish to commit themselves to help until they know how much effort it will entail.</li>
      <li>Only paste code directly into chat if it is not very long.<br />
        There is no hard limit, but about a dozen lines is acceptable. For longer code, use an external paste tool such as <a href="http://dpaste.org/">dpaste</a>.</li>
      <li>Double check that your code is properly formatted.<br />
        For a multi-line post to retain its indentation, every line (including empty lines) must be preceded with four spaces. Paste your text and indent it with <kbd>Ctrl+K</kbd>. Alternatively, press the <em>“fixed font”</em> button that appears next to <em>“send”</em> and <em>“upload”</em> when your post is more than one line long.</li>
      <li>Don’t star posts to reward users for answering your question.<br />
        For most users, your gratitude is reward enough. Alternatively, if your question meets StackOverflow’s standards, you may post your question there, and invite the answerer to make a reply which you may accept.</li>
    </ol>
  </section>

  <section id='contact'>
    <h2>Contact Us</h2>
    <p>We want the Python chatroom to be a <a href='https://www.python.org/community/diversity/'>friendly, welcoming place.</a> If any behaviour in the room makes you feel uncomfortable, you can @notify one of the <a href='http://chat.stackoverflow.com/rooms/info/6/python#room-ownercards'>owners</a> and we'll do our best to sort it out.</p>

    <p>If you wish to contact the sopython room owners you can also feel free to drop us an  <a href='mailto:chatroom@sopython.com'>email</a>.</p>

  </section>

{% endblock %}
