{% extends "base.html" %}
{% block body_class %}questions{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  {% for group in groups %}

  <article id="{{ group.name }}">
    <h2><a href="#{{ group.name }}">{{ group.title | mdi }}</a></h2>
    {% for question in group.questions %}

    <section id="{{ question.name }}">
      <h3><a href="#{{ question.name }}">{{ question.title | mdi }}</a></h3>
      {{ question.text | md }}
      {% if question.links %}
      <ul class="questions">
        {% for link in question.links %}
        <li>
          {%- if link.url -%}
          <a href="{{ link.url }}">
          {%- elif link.qid -%}
          <a href="http://stackoverflow.com/q/{{ link.qid }}">
          {%- elif link.aid -%}
          <a href="http://stackoverflow.com/a/{{ link.qid }}">
          {%- endif -%}
          {{- link.title -}}<span>{{ link.votes or '?' }}</span></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </section>
    {% endfor %}
  </article>
  {% endfor %}
{% endblock %}
