{% extends "base.html" %}
{% block title %}Salad — sopython{% endblock %}

{% block content %}
  <h1>Salad</h1>
  <p><em>Salad</em> is a miniature language used in place of English in StackOverflow’s Python chat room. It consists
    of about twenty words, all of which happen to be English names for vegetables, fruit, fungi or seeds.</p>

  <h2 id="lexicon"><a href="#lexicon">Lexicon</a></h2>
  <dl class="salad">
  {% for key, value in translation.items() %}
    <dt>{{key}}</dt>
    <dd>{{value}}</dd>
  {% endfor %}

  {#  <dt>Cabbage</dt>
    <dd>Hello</dd>

    <dt>Rhubarb</dt>
    <dd>Goodbye</dd>

    <dt>rbrb</dt>
    <dd>brb/afk</dd>

    <dt>cbg</dt>
    <dd>hi/back</dd>

    <dt>Potato?</dt>
    <dd>How are you?</dd>

    <dt>Sprouts</dt>
    <dd>Sorry</dd>

    <dt>Banana</dt>
    <dd>Good</dd>

    <dt>Bananas</dt>
    <dd>Awesome</dd>

    <dt>Bean</dt>
    <dd>Bad</dd>

    <dt>Beans</dt>
    <dd>Horrible</dd>

    <dt>Yam</dt>
    <dd>Fuck</dd>

    <dt>Tomato</dt>
    <dd>Bitch</dd>

    <dt>Melon</dt>
    <dd>Thank you</dd>

    <dt>Watermelon</dt>
    <dd>You’re welcome</dd>

    <dt>Peaches</dt>
    <dd>Ladies</dd>

    <dt>Pears</dt>
    <dd>Gentlemen</dd>

    <dt>Mushrooms</dt>
    <dd>I don’t know</dd>

    <dt>Mushroom</dt>
    <dd>Dunno</dd>

    <dt>Avocado</dt>
    <dd>I agree / I like it / yes</dd>

    <dt>Carrot</dt>
    <dd>I disagree / I don’t like it / no</dd>

    <dt>Asparagus</dt>
    <dd>Assistance / help</dd>

    <dt>[Black Eyed] Peas</dt>
    <dd>Brain Fart / Writers Block / Confusion / Confused / Makes No Sense</dd>

    <dt>Lettuce?</dt>
    <dd>What? / What do you mean?</dd>

    <dt>Artichoke</dt>    
    <dd>Are you Joking? / Are you kidding? / Are you serious? / dafuq?</dd>
   #}
  </dl>

  <h2 id="history"><a href="#history">History</a></h2>
  <p>The Salad language was <a href="http://chat.stackoverflow.com/rooms/6/conversation/salad" title="Chat protocol">created
    and introduced</a> to the chat room on <time datetime="2013-04-10 09:24">April 10, 2013</time> by room owner Jon Clements
    and Inbar Rose. The usage of the greeting quickly spread among regulars, and participants added additional words to
    the lexicon over time.</p>

  <ul class="chat">
    <li>
      <span class="user">Jon Clements</span>
      <p>Greetings and salutations</p>
      <p>or, as I prefer to express it - Cabbage</p>
    </li>
    <li>
      <span class="user">Inbar Rose</span>
      <p>:/</p>
      <p>Cabbage to you too then.</p>
    </li>
    <li>
      <span class="user">Jon Clements</span>
      <p>Yup - I believe the correct reply should probably be Asparagus... (but haven't quite worked out the semantics of my new language fully...)</p>
    </li>
    <li>
      <span class="user">Inbar Rose</span>
      <p>Vegetebarian?</p>
    </li>
    <li>
      <span class="user">Jon Clements</span>
      <p>Ummm... not a bad name - might consider that ;0</p>
    </li>
    <li>
      <span class="user">Inbar Rose</span>
      <p>or LinguaVega ?</p>
      <p>Or, going with the theme. Lets call the language: "Salad"</p>
      <p>And let me just say, "Turnip orange banana, tomato celery onion."</p>
    </li>
    <li>
      <span class="user">Jon Clements</span>
      <p>Hey - no need to insult my mum ;)</p>
    </li>
    <li>
      <span class="user">Inbar Rose</span>
      <p>I didn't say anything about her.</p>
      <p>You must think I said "Turnip orange banana, eggpland celery pear."</p>
    </li>
    <li>
      <span class="user">Jon Clements</span>
      <p>paw-paw goatsbeard :(</p>
    </li>
    <li>
      <span class="user">pcalcao</span>
      <p>Good day people</p>
    </li>
    <li>
      <span class="user">Inbar Rose</span>
      <p>Cabbage</p>
    </li>
  </ul>

  <h2 id="meta"><a href="#meta">Metasyntactic Use</a></h2>
  <p>Much like the Smurfs, chat members will occasionally use <em>“cabbage”</em> as a placeholder word in circumstances
    where it would normally make no sense. For example, the motto of the room is “The <em>productive</em> programming
    cabbage”. Here, “cabbage” means “language”.</p>
{% endblock %}
