{% extends "admin/base.html" %}

{% block title %}{{ group }} group{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4 vbottom">
        <h1>{{ group|title }}</h1>
    </div>

    <div class="col-md-3 col-md-offset-4 vbottom">
        <form action="" method="POST" class="form-inline" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group has-feedback {% if form.user_id.errors %}has-error{% endif %}">
                {{ form.user_id(class_='form-control', placeholder='user id') }}
                <button type="submit" class="btn btn-success form-control-feedback">
                    <span class="glyphicon glyphicon-plus-sign text-default"></span>
                </button>
                {% if form.user_id.errors %}
                    {% for error in form.user_id.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>

</div>
<hr/>


<div class="row">
    {% for user in group_users %}
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body text-center">
               <img src="{{ user.profile_image }}" />
               <h4>{{ user.display_name }}</h4>
               <a href="{{ url_for('admin.remove_user_from_group', group_name=group, user_id=user.id) }}"
                class="text-center text-danger">
                   Remove from Group
               </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
