{% extends 'base.html' %}

{% block title %}cbg{% endblock %}

{% block content %}
    <div class="row"><div class="col-md-12">
        <div class="jumbotron">
            <h2>Cabbage, World!</h2>
            <p>Welcome to <strong>so</strong>python, the website of the Python community on <a href="https://stackoverflow.com/">Stack Overflow</a>.</p>
            <p>Join us for chat in the <a href="https://chat.stackoverflow.com/rooms/6/python">Python room</a>!</p>
        </div>
    </div></div>
{% endblock %}
