{% extends 'base.html' %}

{% block full_title %}sopython{% endblock %}

{% block content %}
    <div class="row"><div class="col-md-12">
        <div class="jumbotron">
            <h2>print('Hello, World!')</h2>
            <p>Welcome to <strong>so</strong>python, the website of the Python community on <a href="http://stackoverflow.com/">Stack Overflow</a>.</p>
            <p>Join us for chat in the <a href="http://chat.stackoverflow.com/rooms/6/python">Python room</a>!</p>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">PyCon US 2017</div>
            <div class="panel-body"><p><a href="{{ url_for('pycon') }}">We're at PyCon!</a>
                David Lord (@davidism) is planning open spaces and meetups.
                Ping @davidism in chat or on Twitter for more information.</p></div>
        </div>
    </div></div>
{% endblock %}
