{% macro pagination(pg) %}
    <ul class="pagination">
        {% if pg.total %}{% set start = (pg.page - 1) * pg.per_page + 1 %}{% else %}{% set start = 0 %}{% endif %}
        {% if pg.has_next %}{% set end = pg.page * pg.per_page %}{% else %}{% set end = pg.total %}{% endif %}
        <li class="disabled"><span>{{ start }} - {{ end }} of {{ pg.total }}</span></li>
    </ul>
    <ul class="pagination">
        {% if pg.has_prev %}
            <li><a href="{{ query_update(page=1) }}" title="First page">⇤</a></li>
            <li><a href="{{ query_update(page=pg.prev_num) }}" title="Previous page">←</a></li>
        {% endif %}
        {% for page in pg.iter_pages(0, 2, 3, 0) %}{% if page %}
            {% if page != pg.page %}
                <li><a href="{{ query_update(page=page) }}">{{ page }}</a></li>
            {% else %}
                <li class="active"><span>{{ page }}</span></li>
            {% endif %}
        {% endif %}{% endfor %}
        {% if pg.has_next %}
            <li><a href="{{ query_update(page=pg.next_num) }}" title="Next page">→</a></li>
            <li><a href="{{ query_update(page=pg.pages) }}" title="Last page">⇥</a></li>
        {% endif %}
    </ul>
{% endmacro %}
